# Application files
amspy/examples/config.json
# Log...
amspy/examples/log/
# Analytics Outputs
amspy/examples/analytics/output/
amspy/examples/analytics/face_detector/output/
amspy/examples/analytics/face_detector/log/
amspy/examples/analytics/face_redaction/output/
amspy/examples/analytics/face_redaction/log/
amspy/examples/analytics/hyperlapse/output/
amspy/examples/analytics/hyperlapse/log/
amspy/examples/analytics/motion_detection/output/
amspy/examples/analytics/motion_detection/log/
amspy/examples/analytics/ocr/output/
amspy/examples/analytics/ocr/log/
amspy/examples/analytics/video_thumbnail/output/
amspy/examples/analytics/indexer_v1/log/
mspy/examples/analytics/indexer_v1/output/
amspy/examples/analytics/indexer_v2/log/
amspy/examples/analytics/indexer_v2/output/
# Python cache...
__pycache__/
# PyPI
amspy.egg-info
dist
# VS Code
.vscode/settings.json
