# Application files
amspy/examples/config.json
# Log...
amspy/examples/log/
# Analytics Outputs
amspy/examples/Analytics/output/
amspy/examples/Analytics/Face_Detector/output/
amspy/examples/Analytics/Face_Detector/log/
amspy/examples/Analytics/Face_Redaction/output/
amspy/examples/Analytics/Face_Redaction/log/
amspy/examples/Analytics/Hyperlapse/output/
amspy/examples/Analytics/Hyperlapse/log/
amspy/examples/Analytics/MotionDetection/output/
amspy/examples/Analytics/MotionDetection/log/
amspy/examples/Analytics/OCR/output/
amspy/examples/Analytics/OCR/log/
amspy/examples/Analytics/VideoThumbnail/output/
amspy/examples/Analytics/VideoThumbnail/log/
# Python cache...
__pycache__/
# PyPI
amspy.egg-info
dist
# VS Code
.vscode/settings.json
