{
   "subscriptionId": "<your-subscription-id>",
   "rgName": "<your-rgname>",
   "accountName": "<your-accountname>",
   "accountKey": "<your-accountkey>",
   "logName": "<log-name>",
   "logLevel": "<log-level>",
   "purgeLog": "Yes",
   "timeZone": "<your-region-timezone>",
   "region": "<your-selected-region>"
}
